body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: none;
}

.cover-image {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-flow: row wrap;
    margin: 0;
    margin-right: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4), transparent), url(images/cover.png) no-repeat center 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-heading {
    text-align: center;
    margin-left: 0;
    font-size: 6rem;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.cover-desc {
    text-align: center;
    font-weight: 300;
    margin-left: 0;
    font-size: 2.4rem;
}

@media (min-width: 768px) {
    .cover-image {
        /*background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5),  transparent), url(images/cover.png) no-repeat center 0 fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
        background-position: 300px 0;
    }

    .cover-heading {
        margin-left: 50px;
    }
    
    .cover-desc {
        margin-left: 50px;
        text-align: left;
    }
}

#cover {
    /* for cover transition */
    padding-bottom: 0;
    opacity: 0;
}

.arrow-down {
    color: #555555;
    position: absolute;
    left: 47.5%;
    z-index: 999;
    cursor: pointer;
    transition: 0.5s all;
    /* for the transition */
    opacity: 0;
    bottom: 0;
}

.arrow-down:hover {
    transition: 0.5s all;
    color: #00BFA5;
    transform: translate(0, 15%);
}

/* Larger than tablet */
@media (min-width: 768px) {

    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
    }
    
    .navbar {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        position: fixed;
        top: 0;
        left: 0;
        /*TEMP TEMP TEMP*/
        display: none;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    
    .navbar-item {
        position: relative;
        float: right;
        margin-bottom: 0;
    }
    
    .navbar-image-item {
        float: left;
    }

    .navbar-link {
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }
    
    .navbar-image {
        line-height: 6rem;
    }

    .navbar-image-link {
        vertical-align: middle;
        height: 32px;        
    }

    .navbar-link:hover, .navbar-link.active {
        transition: 0.3s color;
        color: #00BFA5;
    }
}

