.navbar {
    display: none;
}

.cover-image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url(images/cover.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* Larger than tablet */
@media (min-width: 750px) {

    /* Navbar */

    .navbar + .docs-section {
        border-top-width: 0;
    }
    
    .navbar {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar > .container {
        width: 100%;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    
    .navbar-item {
        position: relative;
        float: right;
        margin-bottom: 0;
    }
    
    .navbar-image-item {
        float: left;
    }

    .navbar-link {
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }
    
    .navbar-image {
        line-height: 6rem;
    }

    .navbar-image-link {
        vertical-align: middle;
        height: 32px;        
    }

    .navbar-link:hover, .navbar-link.active {
        transition: 0.3s color;
        color: #00BFA5;
    }
    
}
